<!-- start of game -->
    <div class="startScreen">
		 <video playsinline autoplay="true" loop="true" poster="logo.png" id="bgvid">
			 <source src="Halloween-2017-start-8bit_sm.mp4" type="video/mp4">
		</video> 
	</div>
<!-- background of points -->
   <div class="gameStart">
		<video playsinline autoplay="true" loop="true" poster="logo.png" id="bgvid2">
			 <source src="Halloween-2017-HudBg-8bit_sm.mp4" type="video/mp4">
		</video>
		<div class="arcadePoints">
			<small>points</small>
			<p>200</p>
		</div>
	</div>
